[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pylint = "*"
pytest = "*"

[packages]
requests = "*"
py-distil-networks = {editable = true,path = "."}
ansible = "==2.7.1"
jmespath = "*"
cachecontrol = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
